<!-- profile.component.html 
<div class="container">
  <h1>Bienvenido, {{ user.name }}!</h1>
  <h2>Recetas Guardadas</h2>
  
  <div *ngIf="userRecipes.length > 0; else noRecipes">
    <div *ngFor="let recipe of userRecipes" class="card mb-3">
      <img src="{{recipe.img}}" class="card-img-top" alt="Recipe Image">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">{{ recipe.description }}</p>
      </div>
    </div>
  </div>

  <ng-template #noRecipes>
    <p>No tienes recetas guardadas.</p>
  </ng-template>
</div>-->
